SPRING_DATASOURCE_URL=jdbc:postgresql://finance-db.XXXXXXXXX.us-east-1.rds.amazonaws.com:5432/finance_db
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=CHANGE_ME
SPRING_JPA_HIBERNATE_DDL_AUTO=update
SERVER_PORT=8080
